pipeline/pl_ingesta_sap_tables.json
{
	"name": "pl_ingesta_sap_tables",
	"properties": {
		"activities": [
			{
				"name": "cp_raw_to_gold",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapTableSource",
						"rfcTableOptions": "",
						"customRfcReadTableFunctionModule": "",
						"rfcTableFields": "CARRID,CONNID,CURRENCY,FLDATE,MANDT,PAYMENTSUM,PLANETYPE,PRICE,SEATSMAX,SEATSMAX_B,SEATSMAX_F,SEATSOCC,SEATSOCC_B,SEATSOCC_F",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_saptable_logali",
						"type": "DatasetReference",
						"parameters": {
							"tabla": "SFLIGHT"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_parquet_dir",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@variables('path_d')",
								"type": "Expression"
							},
							"Filename": {
								"value": "@pipeline().parameters.tabla",
								"type": "Expression"
							},
							"Filesystem": {
								"value": "@variables('container_d')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "nb-definicion-tablas",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "cp_raw_to_gold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/root/ingesta/nb-ingesta-tablas-sap",
					"baseParameters": {
						"container": {
							"value": "@variables('container_d')",
							"type": "Expression"
						},
						"path": {
							"value": "@variables('path_d')",
							"type": "Expression"
						},
						"tabla": {
							"value": "@pipeline().parameters.tabla",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"tabla": {
				"type": "string",
				"defaultValue": "SFLIGHT"
			}
		},
		"variables": {
			"container_d": {
				"type": "String",
				"defaultValue": "gold-zone"
			},
			"path_d": {
				"type": "String",
				"defaultValue": "tables/sap"
			}
		},
		"annotations": [
			"Ingesta"
		]
	}
}